<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PService.Properties.Settings.monitorConnectionString"
            connectionString="Data Source=MTVM\SQLEXPRESS;Initial Catalog=monitor;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <PService.Properties.Settings>
            <setting name="db_refresh" serializeAs="String">
                <value>180</value>
            </setting>
        </PService.Properties.Settings>
    </userSettings>
</configuration>